* {margin:0;padding:0;box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box;} 
*:before, *:after {box-sizing: border-box;-moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box;}
html {height: 100%; }
body {min-height: 100%;background: #FFFFFF;}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
p {font-weight: 200;}
a {
    color: inherit;
    text-decoration: none;
}
figure {
    margin: 0;
}
img {
    vertical-align: top;
}
button, input, textarea, select {cursor: pointer;}
footer, nav, header, section, aside, article, hgroup, main {display: block;}
p {line-height: 1.5em;}
header {padding-top: 25px;border-top: 3px solid #F8C026}
nav.fixed {position: fixed;width: 100%; max-width: 100%;box-shadow: 0 0 15px #EDEDED;z-index: 1001;top: 0;background: #FFFFFF}
#languagesMenu {position: absolute; right: 9.25px; top: 1.25px;list-style-type: none;padding: 12.5px 8.5px 12.5px 8.5px;width: 48px;height: 61px;}
#languagesMenu.openLang {box-shadow: 0px 0px 15px #E7E7E7;}
#languagesMenu li {text-transform: uppercase;font-size: 1.4rem;cursor: pointer;position: relative;} 
#languagesMenu li a {display: block; padding-right: 15px;}
#languagesMenu .activeLang a {position: relative;width: 35px;padding-right: 20px}
#languagesMenu .activeLang > a:after {position: absolute;content:""; width: 12px; height: 7px; 
background: url(../img/arrow-lang.svg) center center no-repeat; right: 0; top: 4px;
background-size: 8px 6px;
}
#languagesMenu #langChoice {display: none;left: 0;
    top: 5.5px;
    list-style: outside none none;
    margin: 0;
    padding-top: 16.5px;
    position: absolute;
    z-index: 999;
width: 100%;}
#languagesMenu #langChoice.show {display: block;}
#languagesMenu li ul a:hover {color: #F8C026;}
.logoHeaderHolder a {float: left; width: 266px; height: 48px; background: url(../img/hauptmann-logo.svg) left center no-repeat;
     background-size: 266px 48px;
    margin-right: 112px;}
.mainNav {list-style-type: none;text-transform: uppercase;font-size: 1.2rem;}
.mainNav li {display: inline-block;margin-bottom: 0; padding: 22px 15px 22px 15px;margin-right: 3px;position: relative;}
.mainNav li a {display: block}
.mainNav li.outerList > a {padding-right: 14px;
 background: url(../img/arrow-nav.svg) right center no-repeat;
 background-size: 8px 4px;
 }
.mainNav li.outerList:hover > a {
 background: url(../img/shape.svg) right center no-repeat;
 background-size: 8px 4px;
    }
.mainNav li:hover {color: #FFFFFF;background: #343434;}
.mainNav .outerList.first {padding-left: 0;}
.mainNav .outerList.first > ul li {padding-left: 0;}
.mainNav .outerList.first > ul {margin-left: -16px;padding-left: 16px;width: calc(121% + 16px);}
.mainNav .outerList.first:hover:before {position: absolute;content:"";top: 0;left: -16px; width: 16px; height: 100%; background: #343434}
.mainNav li ul {display: none; left: 0;
    top: 58px;
    list-style: outside none none;
    margin: 0;
    padding-top: 15px;
    position: absolute;
    z-index: 999;
    width: 121%;
    background: #343434;
}
.mainNav li ul li a:hover {color: #F8C026;}
.mainNav li.outerList > ul {padding: 0}
.mainNav li.outerList > ul li {display: block;padding-top: 17px; padding-bottom: 0; padding-right: 15px}
.mainNav li.outerList > ul a {display: block;}
.mainNav li.outerList > ul li:last-child {padding-bottom: 19px}
.mainNav li:hover > ul {display: block}
.imageHolder {position: relative;}
#sliderHolder .slider-container h3{
    display: table-cell;
    vertical-align: middle;
    width: 300px;
    font-family: Arial Black, Arial Black, Gadget, sans-serif;
    font-size: 4rem;color: #FFFFFF;
    text-transform: uppercase;
    width: 540px;
}
#sliderHolder .slider-container{
    position: absolute;
    top:0;
    left:0;
    right: 0;
    margin: auto;
    width: 1110px;
    height: 100%;
}
#sliderHolder .slider-container-into{
    display: table;
    height: 100%;
}
#sliderHolder .owl-dots { 
    position: absolute;
    bottom: 25px;
    left: 20px;
    margin-top: 15px;
    z-index: 999;
    }
#owlProuctCarusel .owl-dot {
    color: #000000;    
}
#sliderHolder .owl-dot {
    color: #FFFFFF;    
}
#sliderHolder.owl-carousel .owl-item img {min-width: 1140px}
.owl-dot, .pagination li {
    display: inline-block;
    font-size: 1.3rem;
    padding-top: 16px;
    font-family: Arial Black, Arial Black, Gadget, sans-serif;
    width: 17px;
    }
.owl-dot:first-child, .owl-dot:nth-child(2), .pagination li:first-child, .pagination li:nth-child(2) {
    margin-right: 56px;
    }
#sliderHolder .owl-dot.active, #owlProuctCarusel .owl-dot.active, .pagination li.active {
        color: #F8C026;
        background-image: url(../img/line-active.svg);
        background-position: top center;
        background-size: 15px 4px;
        background-repeat: no-repeat;
    }
#sliderHolder .owl-dot:hover, #owlProuctCarusel .owl-dot:hover {
        color: #F8C026;
    }
#chemistryChallange, #hauptmanDescription {position: relative;z-index: 1000; top: -39px;}
.leftSideContent {float: left;}
.rightSideContent {float: right;}
.mainPageContent {top: -20px; position: relative; height: 776px;}
.mainPageContent .leftSideContent {
    width: 48.85%;
    background: url(../img/home.jpg) left top no-repeat; 
    background-size: cover;
    height: 776px;
    position: relative;
}
@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
  .mainPageContent .leftSideContent {
   background: url(../img/home2x.jpg) left top no-repeat;
   background-size: cover;
  }
}
.mainPageContent .rightSideContent {
    width: 51.15%;
    height: 776px;
}
#chemistryChallange {float: right; width: 350px;background: #343434; height: 410px; padding: 76px 50px 67px 50px;color: #FFFFFF;text-align: center}
#chemistryChallange p {font-style: italic;font-size: 1.3rem;
    padding-top: 193px;
    background: url(../img/lieder.png) center top no-repeat;
    }
@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
  #chemistryChallange p {
   background: url(../img/lieder2x.png) center top no-repeat;
   background-size: 112px 130px;
  }
}
.boldStyle {font-weight: 800}
#hauptmanDescription {height: auto; margin-top: 135px;width: 67.07%; padding: 0 0 40px 125px;background: #FFFFFF;min-width: 350px;max-width: 585px;}
#hauptmanDescription h2 {
    font-size: 2rem; text-transform: uppercase; font-weight: 600; padding-right: 66px
    }
#hauptmanDescription p {
    padding-bottom: 2rem; font-size: 1.5rem; color: #686868;
    }
.floorsWork {padding-top: 260px;width: 87.40%;padding-bottom: 30px;padding-left: 15px;max-width: 555px; float: right;position: absolute; bottom: 15px; right: 0;}
.floorsWork p {padding: 0 306px 0 0; font-size: 1.4rem;line-height: 2.5rem; position: relative;width: 555px;}
#floorsWorkCount {position: absolute;width: 110px;height: 5px; background: #FFFFFF; top: -140px; left: 0;}
.floorsWork p:before {position: absolute;content:"\0031\0032"; top: -83px; left: -6px;width: 111px;height: 68px; font-size: 8.9rem;color: #FFFFFF; text-transform: uppercase;
font-family: Arial Black, Arial Black, Gadget, sans-serif;
}
.floorsWork p span {background: #F8C026;}
.hauptmanFloorsContainer {width: 51.15%;background: #F8C026;padding: 36px 0 0 125px;position: absolute; bottom: 0;height: 226px;}
.hauptmanFloors {width: 85.71%; color: #FFFFFF; text-transform: uppercase;min-width: 445px;}
.hauptmanFloors p:first-child {width: 67.19%;font-weight: bold;padding-bottom: 0;}
.floorsRange {font-size: 9.05rem; font-weight: 800;margin-top: -10px}
.floorsRange span {position: relative;padding-right: 37px;font-family: Arial Black, Arial Black, Gadget, sans-serif;}
.floorsRange span:after {position: absolute;content:"\00B0"; top: -1px; right: 9px;width: 29px;height: 29px; 
    font-size: 9.05rem;color: #FFFFFF; text-transform: uppercase;
}
.titleHolder {text-transform: uppercase;font-size: 2.2rem;font-weight: bold; display: inline-block; width: 200px;padding-bottom: 1.5rem}
.caruselHolder .titleHolder  {padding-bottom: 4rem}
.caruselHolder {margin: 37px 0;position: relative;}
.itemContainer .productTitleHolder {position: relative;padding-top: 1.5rem}
.productTitleBg {width: 100%; height: 3px;background: #EFEFEF}
.productTitleBg div {width: 25.49%;background: #F8C026;height: 3px}
.imageContainer {text-align: center;margin-bottom: 2rem; position: relative;}
.imageContainerBg {position: absolute; background: #FFFFFF; opacity: 0.6;width: 100%; height: 100%;display: none;top: 0; ;left: 0;z-index: 1002;}
.imageZoomBg {position: absolute;background: #F8C026 url(../img/zoom.svg) center center no-repeat; background-size: 24px 24px;width: 50px; height: 50px;display: none;top: 50%; ;left: 50%;margin: -25px 0 0 -25px;z-index: 1002;}
.itemContainer:hover .imageContainerBg {display: block;}
.itemContainer:hover .imageZoomBg {display: block;}
.caruselHolder .imageContainer img {width: 76.08%;}
#owlProuctCarusel .owl-dots { 
    position: absolute;
    right: 122.5px;
    margin-top: 15px;
    z-index: 999;
    font-weight: bold;
}
.productDescHolder {font-weight: 600;text-transform: uppercase;}
.buttonContainer {max-width: 1140px; margin: 53px auto 128px auto;position: relative;padding: 0 15px;}
#buttonLineBg {height: 8px; background: #F7F7F7; width: calc(100% - 220px);position: absolute;right: 15px;top: 23px;}
.buttonContainer .productButton, .feedbackForm .productButton, .newsContainer .moreNews {
   display: inline-block;    
    text-align: center;    
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;    
    text-decoration: none;
    white-space: nowrap;    
    cursor: pointer;
    box-sizing: border-box;
  background: #F8C026 url(../img/arrow-but.svg) 90.41% center no-repeat;
  background-size: 5px 9px;
  padding: 7px 36px 0 23px;color: #FFFFFF; border-radius: 0; height: 51px; text-transform: uppercase; 
  border: none;font-size: 1.15rem;-webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  }
.buttonContainer .productButton:hover, .feedbackForm .productButton:hover, .newsContainer .moreNews:hover {background: #343434 url(../img/arrow-but.svg) 90.41% center no-repeat;
  background-size: 5px 9px;}
.newsContainer .leftSideContent {width: 51.15%;}
.newsContainer .rightSideContent {width: 48.85%;
    background: url(../img/description.jpg) top right no-repeat;
    background-size: cover;
    min-height: 517px;
    padding-top: 201px;
    padding-left: 95px;
    padding-bottom: 100px;
    color: #FFFFFF;
}
@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
  .newsContainer .rightSideContent {
   background: url(../img/description2x.jpg) top right no-repeat;
   background-size: cover;
  }
}
.companyInformation {
    width: 85.19%;
    max-width: 460px;
}
.companyInformation p {
    line-height: 2.6rem
}
#sevenYears {float: left; font-size: 2.5rem;line-height: 2.5rem;font-weight: 600;width: 113px;margin-right: 77px;padding-top: 50px;position: relative;text-transform: uppercase;}
#lineGarant {position: absolute; height: 8px;width: 65px; background: #FFEBEB;top: -110px;left: 0;}
#sevenYears:before {
    position: absolute;content:"\0037"; top: -40px; left: -4px;width: 65px;height: 83px; font-size: 11rem;color: #FFFFFF; text-transform: uppercase;
font-family: Arial Black, Arial Black, Gadget, sans-serif;

}
.newsListContainer {float: right;max-width: 585px; padding-left: 15px;padding-right: 125px;}
.newsList {list-style-type: none;}
.companyInfoBut {margin-top: 59px}
.newsList li {padding-bottom: 38px;margin-bottom: 0}
.publicationDateDay {font-family: Arial Black, Arial Black, Gadget, sans-serif; font-size: 2.2rem;}
.publicationDateMonth {font-weight: 600;text-transform: uppercase;font-size: 1.5rem;}
.newsTitle {font-size: 1.4rem}
.newsTitle:hover {text-decoration: underline;}
.newsContainer {position: relative;}
.newsContainer:after {
    content: "";
    display: table;
    clear: both;
}
.newsButtonContainer {padding-bottom: 60px;}
.newsButtonContainer button {margin-bottom: 0}
.companyInfoBut .moreInfo {
display: inline-block;    
    text-align: center;    
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;    
    text-decoration: none;
    white-space: nowrap; 
    text-transform: uppercase;   
    cursor: pointer;
    box-sizing: border-box;
     border: 1px solid #F8C026;
    border-radius: 0; color: #F8C026;     
    padding: 6px 34px 0 21px;
    height: 51px;
    font-size: 1.15rem;
     background: url(../img/arrow-but-hover.svg) 90.41% center no-repeat;
     background-size: 5px 9px;
     -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.newsContainer .moreInfo:hover {background: #343434;
     background: #343434 url(../img/arrow-but-hover.svg) 90.41% center no-repeat; 
     background-size: 5px 9px;
    }
footer {
    background: #343434;
    padding: 60px 0 40px 0;
    color: #FFFFFF;
}
.footerNav {clear: both;overflow: hidden;}
.footerNav ul {list-style-type: none;display: block;float: left;vertical-align: top;margin-top: 36px;font-size: 1.45rem;}
.footerNav ul {width: 160px;}
.footerNav ul li span {display: block;margin-bottom:1rem}
.footerNav ul:first-child {width: 255px;margin-right: 30px}
.footerNav ul:nth-child(2) {width: 255px;margin-right: 30px}
.footerNav ul:nth-child(3) {width: 160px;margin-right: 30px}
.footerNav ul:nth-child(4) {width: 160px;margin-right: 30px}
.footerNav ul:nth-child(5) {width: 160px;margin-right: 0}
.footerNav ul li:hover a {color: #F9C846;}
.footerLogoHolder {height: 38px; width: 210px;
background: url(../img/logo-footer.svg) left top no-repeat;
background-size: 210px 39px;
float: left;
}
#footerLineBg {right: 15px;top: 35px; background: #A3A3A3;height: 2px; margin-bottom: 38px; width:calc(100% - 315px); position: absolute;} 
#footerLineBg div {height: 2px; background: #F8C026;width: 34.55%}
.mailtoLink {color: #F9C846;}
.itemContainer {position: relative;}
.itemContainer img {cursor: pointer}
.owl-item:hover > .itemContainer:before {
    opacity: 1
    }
nav, header, footer, #sliderHolder, .mainPageContent, .caruselHolder, .newsContainer {min-width: 1140px;}
#socialIcons {position: relative;top: -3rem;width: 255px;}
#socialIcons a {display: inline-block; height: 20px;background-position: center center; background-repeat: no-repeat;}
#socialIcons a:first-child {
    width: 22px;
    background-size: 22px 15px;
    background-image: url(../img/social/google.svg);
    margin-right: 15px
}
#socialIcons a:first-child:hover {
    background-size: 22px 15px;
    background-image: url(../img/social/google-h.svg);
    }
#socialIcons a:nth-child(2) {
    width: 15px;
    background-size: 15px 15px;
    background-image: url(../img/social/fb.svg);
    margin-right: 17px
   }
#socialIcons a:nth-child(2):hover {
    background-size: 15px 15px;
    background-image: url(../img/social/fb-h.svg);
    }
#socialIcons a:nth-child(3) {
    width: 22px;
    background-size: 15px 15px;
    background-image: url(../img/social/in.svg);
    margin-right: 18px
    }
#socialIcons a:nth-child(3):hover {
    background-size: 15px 15px;
    background-image: url(../img/social/in-h.svg);
    }
#socialIcons a:nth-child(4) {
    width: 17px;
    background-size:17px 15px;
    background-image: url(../img/social/twitter.svg);
    margin-right: 19px
    }
#socialIcons a:nth-child(4):hover {
    background-size: 17px 15px;
    background-image: url(../img/social/twitter-h.svg);
    }
#socialIcons a:nth-child(5) {
    width: 15px;
    background-size: 15px 15px;
    background-image: url(../img/social/insta.svg);
    margin-right: 0;
   }
#socialIcons a:nth-child(5):hover {
    background-size: 15px 15px;
    background-image: url(../img/social/insta-h.svg);
    }
.copyright {color: #8E8E8E;font-size: 1.4rem;}
.innerTitleHolder {
    background: url(../img/page-image.jpg) top center no-repeat;
    background-size: cover;
    color: #FFFFFF;
    margin-bottom: 61px;
}
.titleOverlay {
    padding: 50px 0;
    background: rgba(0,0,0,0.3);
}
@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
.innerTitleHolder {
    background: url(../img/page-image2x.jpg) top center no-repeat;
    background-size: cover;
}
}
.pagetitle {font-size: 4rem;font-family: Arial Black, Arial Black, Gadget, sans-serif;text-transform: uppercase;margin-bottom: 14px}
.breadcrumbs ul {list-style-type: none;}
.breadcrumbs ul li {display: inline-block;text-transform: uppercase;font-size: 1.25rem;}
.mapHolder img {width: 100%;}
.feedbackForm {float: right;width: 540px;margin-top: 57px;}
.feedbackForm textarea {width: 100%;height: 140px; resize: none}
.feedbackForm textarea, .innerTextHolder .feedbackForm input {background: #FBFBFB; border: 1px solid #CAD5DD; border-radius: 2px}
.innerTextHolder .feedbackForm input {width: 255px;margin-bottom: 25px;}
.feedbackForm textarea:focus, .innerTextHolder .feedbackForm input:focus {border: 1px solid #F8C026}
.innerTextHolder h2 {font-size: 2.2rem;text-transform: uppercase;font-weight: 500;margin-bottom: 2.5rem;}
.innerTextHolder .boldStyle {font-weight: 600;}
.innerTextHolder a {color: #F8C026;}
#feedbackEmail {float: right;}
.separator {display: inline-block;width: 3px; height: 3px;border-radius: 50%; background: #FFFFFF;margin: 0 15px;vertical-align: top;margin-top: 0.7rem}
.feedbackForm .productButton {padding-top: 0;}
.ecForm {display: none;}
.newsTextHolder {width: 730px;margin-bottom: 100px;color: 373737;}
.newsTextHolder a {text-decoration:underline;color: #F8C026;}
.newsTextHolder img, .newsTextHolder picture, .productCategoryImage img, .productCategoryImage picture {max-width: 100%;margin: 49px 0 63px 0;}
.newsTextHolder p {padding-bottom: 38px;}
.newsEllipsis {width: 730px;margin-bottom: 50px;color: #373737;}
.newsEllipsis .imageHolder {margin-bottom: 33px;}
.dataHolder {float: left;width: 65px;min-height: 141px;text-transform: uppercase;margin-right: 30px;}
.newsTitleContent {margin-bottom: 38px;font-size: 2.1rem;text-transform: uppercase;font-weight: 600;font-family: Arial Black, Arial Black, Gadget, sans-serif;}
.moreReading a {color: #e9bf3b;text-transform: lowercase;}
.dayDataHolder {font-weight: 600;font-family: Arial Black, Arial Black, Gadget, sans-serif;font-size: 1.6rem;}
.newsContentHolder {margin-left: 95px;}
.monthHolder {font-weight: 400;font-size: 1.4rem;}
.yearHolder {font-weight: 400;font-size: 1.4rem;}
.newsContentHolder p {padding-bottom: 0.3rem;}
.pagination {list-style-type: none;margin-top: 17px;}
.pagination a {color: #000000;}
.pagination a:hover, .pagination .active a {color: #F8C026;}
.productContainer {width: 825px;}
.productImageContainer {width: 255px;float: left;padding: 41px 24px;margin-right: 30px;border: 6px solid #E8EFF6;margin-bottom: 32px;}
.productImageContainer img, .productImageContainer picture {max-width: 100%;}
.productContainer .introtext {margin-left: 285px;position: relative;padding-top: 68px;margin-bottom: 35px;}
.productContainer .introtextBg {position: absolute; top: 29px;height: 4px;width: 65px;background: #F8C026;}
.price {margin-left: 285px;color: #343434;font-weight: 600;font-family: Arial Black, Arial Black, Gadget, sans-serif;font-size: 1.6rem;font-size: 2rem;
    text-transform: uppercase;
}
.productDescription {clear: both;padding: 48px 65px 0 65px;background: #EFF3F6;}
.headlineElement {font-size: 2rem;padding-bottom: 15px}
.productDescription ul, .productDescription p:last-child {padding-bottom: 57px;}
.productDescription ul {list-style-type:none;}
.productDescription ul li {background: url(../img/circle.svg) left center no-repeat; background-size: 6px 6px; padding-left: 25px;}
.productTech {display: table;width: 100%;margin-top: 37px;border: 1px solid #DBE3E8;}
.productRow {display: table-row;}
.productRow:nth-child(2n+1) {background: #EFF3F6;}
.productCell {display: table-cell;vertical-align: middle;padding: 15px 24px;}
.productCell:nth-child(2n+1) {width: 545px;border-right: 1px solid #DBE3E8;}
.productCategoryContainer {margin-bottom: 25px;width: 855px;border: 1px solid #CDD8DF; padding: 35px 30px 28px 39px;}
.productCategoryContainer:last-child {margin-bottom: 0;}
.productCategoryImage {float: left; width: 216px;margin-right: 30px;}
.categoryDesc {margin-left: 246px;}
.categoryProductTitle {margin-bottom: 35px;}
.categoryProductTitle a {color: #343434;text-transform: uppercase;font-family: Arial Black, Arial Black, Gadget, sans-serif; font-size: 2rem; }
.productCategoryIntrotext {margin-bottom: 35px;}
.productCategoryBtn {height: 50px;}
.categoryPrice, .lookMore {float: left; height: 50px;text-align: center;font-size: 1.24rem; }
.categoryPrice {padding-top: 17px;padding-bottom: 17px;width: 112px; background: #F8C026;border: 1px solid #F8C026;text-transform: uppercase;font-weight: 600;}
.lookMore {width: 139px;border: 1px solid #F8C026;color: #F8C026;text-transform: uppercase;}
.lookMore a {display: block;padding-top: 17px; padding-bottom: 17px;padding-right: 21px;background:url(../img/arrowright.svg) 112px center no-repeat; background-size: 5px 9px;}
.categoryItemContainer {float: left;width: 350px;position: relative;}
.categoryItemOverlay {position: absolute; width: 100%;height: 100%;background: rgba(0,0,0,0.6);top: 0;left: 0;display: none;}
.categoryItemContainer:hover > .categoryItemOverlay {display: block;}
.categoryItemContainer a {display: block;}
.categoryItemContainer picture, .categoryItemContainer img, .albumPreviewContainer img {max-width: 100%;height: 100%;}
.categoryTitleContainer {position: absolute; left: 40px; bottom: 30px; max-width: 90%;font-size: 2.1rem;font-family: Arial Black, Arial Black, Gadget, sans-serif;text-transform: uppercase; color: #FFFFFF;}
.categoryItemContainer:nth-child(3n+2), .categoryItemContainer:nth-child(3n+1) {margin-right: 30px;}
.categoryTitleBg {position: absolute; width: 53px; height: 4px; background: #FEC31D;left: 0; top: -36px;}
.categoryText {margin: 54px 0 0 0;max-width: 745px;}
.cattitle {text-transform: uppercase; font-size: 1.7rem;margin-bottom: 38px;font-weight: 600;}
.galleyPreviewContainer, .reviewPreviewContainer {float: left; border: 5px solid #E8EFF6;margin: 0 30px 30px 0;}
.galleyPreviewContainer:hover, .reviewPreviewContainer:hover {border: 5px solid #F8C026;}
.galleyPreviewContainer:nth-child(4n+4), .reviewPreviewContainer:nth-child(6n+6) {margin-right: 0;}
.albumPreviewContainer {float: left; position: relative;width: 540px; margin-bottom: 30px;}
.albumPreviewContainer:nth-child(2n+1) {margin-right: 30px;}
.albumPreviewContainer a {display: block;}
.albumPreviewOverlay {position: absolute; width: 100%;height: 100%;background: rgba(0,0,0,0.3);top: 0;left: 0;}
.albumPreviewContainer:hover > .albumPreviewOverlay {background: rgba(0,0,0,0.6);}
.totalAlbumVar {position: absolute; bottom: 28px;text-transform: uppercase; font-size: 1.2rem;color: #FFFFFF;left: 40px;}
.innerTextHolder .container {margin-bottom: 68px;}
@media screen and (max-width: 1140px) {
.sliderTitleHolder {
    left: 15px;
}
.floorsWork {width: 100%;}
}